In [1]:
#提取city数据，Washington，Phoenix，Calgary，Toronto，Singapore

In [2]:
import pandas as pd
import requests
import json
import numpy as np

In [3]:
Retrive_city = 'New York'
data_poi = pd.read_table('dataset_TIST2015_POIs.txt',sep='\t',header=None) 
data_poi
city_checkin_table = pd.DataFrame(columns=('UserId','VenueId','Time','Longitude','Dimension','Category','City','CountryCode'))

In [ ]:
for num in range(1,57):
    data = pd.read_table('./Foursq_fileParts/dataset_TIST2015_Checkins_%d.txt'%(num),sep='\t',header=None) 
    #print(type(data))
    print(data)
    for index, row in data.iterrows(): 
        #print(row[1])
        #a =['3fd66200f964a52000e71ee3']
        b = data_poi[data_poi[0].isin([row[1]])]
        latitude = b[1]
        longitude = b[2]   
        #通过经纬坐标查询城市
        key = 'GjG3XAdmywz7CyETWqHwIuEC6ZExY6QT'
        r = requests.get(url='http://api.map.baidu.com/geocoder/v2/', params={
        'location':'%.6f m,%.6f m'%(latitude,longitude),'ak':key,'output':'json'})
        result = r.json()
        #print(result)
        #province = result['result']['addressComponent']['province']
        #Singapore 用的是country
        city = result['result']['addressComponent']['city']
        #city = result['result']['addressComponent']['country']
        #print(city)
        if city == Retrive_city:
            #print(row[0],row[1],row[2],b[1],b[2],b[3],city,b[4])
            cat = ''.join(b[3].values)
            country = ''.join(b[4].values)
            city_checkin_table = city_checkin_table.append([{'UserId':row[0],'VenueId':row[1],'Time':row[2],'Longitude':float(b[1].values),'Dimension':float(b[2].values),'Category':cat,'City':city,'CountryCode':country}], ignore_index=True)                                          
            print(city_checkin_table)

             0                         1                               2    3
0        50756  4f5e3a72e4b053fd6a4313f6  Tue Apr 03 18:00:06 +0000 2012  240
1       190571  4b4b87b5f964a5204a9f26e3  Tue Apr 03 18:00:07 +0000 2012  180
2       221021  4a85b1b3f964a520eefe1fe3  Tue Apr 03 18:00:08 +0000 2012 -240
3        66981  4b4606f2f964a520751426e3  Tue Apr 03 18:00:08 +0000 2012 -300
4        21010  4c2b4e8a9a559c74832f0de2  Tue Apr 03 18:00:09 +0000 2012  240
...        ...                       ...                             ...  ...
599996  198520  4f5adf87e4b0b28dd3693700  Wed Apr 11 06:15:19 +0000 2012 -300
599997  150337  4e6d33831495ab99db100b3d  Wed Apr 11 06:15:19 +0000 2012  180
599998   14520  4b3cd805f964a520218825e3  Wed Apr 11 06:15:20 +0000 2012 -240
599999    4520  4d590a4256f2b60c8b57742f  Wed Apr 11 06:15:20 +0000 2012 -240
600000   18580  4e11086662e1d997a69caaf3  Wed Apr 11 06:15:21 +0000 2012  480

[600001 rows x 4 columns]
   UserId                   VenueId                            Time  \
0  221021  4a85b1b3f964a520eefe1fe3  Tue Apr 03 18:00:08 +0000 2012

   Longitude  Dimension     Category      City CountryCode
0  40.748939  -73.99228  Coffee Shop  New York          US
   UserId                   VenueId                            Time  \
0  221021  4a85b1b3f964a520eefe1fe3  Tue Apr 03 18:00:08 +0000 2012
1   39350  49bbd6c0f964a520f4531fe3  Tue Apr 03 18:00:09 +0000 2012

   Longitude  Dimension             Category      City CountryCode
0  40.748939 -73.992280          Coffee Shop  New York          US
1  40.719726 -74.002472  Arts & Crafts Store  New York          US
   UserId                   VenueId                            Time  \
0  221021  4a85b1b3f964a520eefe1fe3  Tue Apr 03 18:00:08 +0000 2012
1   39350  49bbd6c0f964a520f4531fe3  Tue Apr 03 18:00:09 +0000 2012
2   32655  4a43c0aef964a520c6a61fe3  Tue Apr 03 18:00:25 +0000 2012

   Longitude  Dimension             Category      City CountryCode
0  40.748939 -73.992280          Coffee Shop  New York          US
1  40.719726 -74.002472  Arts & Crafts Store  New York          US
2  40.606800 -74.044170               Bridge  New York          US

In [ ]:
city_checkin_table.to_csv("%s.csv"%(Retrive_city),index=False,sep=',')

In [ ]:
print('Successful！')